# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

#.idea

.idea/CHOCCO.iml
.idea/encodings.xml
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml

/venv/
!/core/
!/README.md
/core/db.sqlite3
core/app/migrations/0001_initial.py
core/app/migrations/0002_auto_20170627_1431.py
core/app/migrations/0003_auto_20170627_1440.py
core/db.sqlite3
core/static/
!/core/static/
/media/628377642_931495173p023561607_text_pesni_bolajyk_birge_2016.jpg
/media/C5uH9GVU0AAO78m.jpg
/media/15232220_1298652513510167_8133717526599026536_n.jpg
/media/4rfJgr6lz9o_KM4fWD0.jpg
/media/4rfJgr6lz9o.jpg
/media/15726819_1212235995496567_4211666708658208689_n.jpg
/media/15354273_1405846166133595_724973590_o.jpg
/core/MyDreams.jpg
/core/uploads/
core/media/15232220_1298652513510167_8133717526599026536_n.jpg
core/media/15354273_1405846166133595_724973590_o.jpg
core/media/15726819_1212235995496567_4211666708658208689_n.jpg
core/media/4rfJgr6lz9o.jpg
core/media/4rfJgr6lz9o_KM4fWD0.jpg
core/media/628377642_931495173p023561607_text_pesni_bolajyk_birge_2016.jpg
core/media/C5uH9GVU0AAO78m.jpg
core/MyDreams.jpg
core/app/migrations/0004_auto_20170627_1530.py
core/app/migrations/0005_auto_20170628_1113.py
core/app/migrations/0006_auto_20170628_1154.py
core/app/migrations/0007_auto_20170628_1436.py
core/app/migrations/0008_auto_20170628_1443.py
core/app/migrations/0009_auto_20170628_1545.py
core/uploads/

/core/media/
