{% load i18n staticfiles %}
{% block likes_widget %}

        <div class="fh">
        <div class="rp agk aye">
            <div class="rq">
                <h6 class="agd">Likes
                    <small>· <a href="https://bootstrap-themes.github.io/application/#">View All</a></small>
                </h6>
                <ul class="bqe bqf">
                    <li class="tu afw">
                        <img class="bqa wp yy agc" src="./avatar-fat.jpg">
                        <div class="tv">
                            <strong>Jacob Thornton</strong> @fat
                            <div class="bqi">
                                <button class="cg pq pz">
                                    <span class="h azp"></span> Follow
                                </button>
                            </div>
                        </div>
                    </li>
                    <li class="tu">
                        <a class="brc" href="https://bootstrap-themes.github.io/application/#">
                            <img class="bqa wp yy agc" src="./avatar-mdo.png">
                        </a>
                        <div class="tv">
                            <strong>Mark Otto</strong> @mdo
                            <div class="bqi">
                                <button class="cg pq pz">
                                    <span class="h azp"></span> Follow
                                </button>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="rw">
                Dave really likes these nerds, no one knows why though.
            </div>
        </div>
    </div>

{% endblock %}