{% load i18n staticfiles %}
{% block profile_widget %}

    <div class="fk">

        <ul class="ca bqe bqf agk">
            {% for article in articles %}
                <li class="tu b ahx"><a href="/article/{{ article.get_absolute_url }}">
                    {% if article.author.image %}
                        <img class="bqa wp yy agc" src="{{ article.author.image.url }}">
                    {% endif %}
                    <div class="tv">
                        <div class="bqj">
                            <small class="aec axr">{{ article.created_at }}</small>
                            <h6>{{ article.author }}</h6>
                        </div>
                        <h4>{{ article.title }}</h4>

                        <p>{{ article.description|striptags|truncatechars:150 }}</p>
                        {% if article.image %}
                            <div class="bqg" data-grid="images"><img
                                    style="display: inline-block; width: 321px; height: 321px; margin-bottom: 10px; margin-right: 0px; vertical-align: bottom;"
                                    data-width="321" data-height="321" data-action="zoom" src="{{ article.image.url }}">
                            </div>
                        {% endif %}
                    </div>
                </a>
                </li>

            {% empty %}
                <p>Статей не обнаружено :(</p>
            {% endfor %}
        </ul>
    </div>

{% endblock %}