{% load i18n staticfiles %}
{% block profile_widget %}

    <div class="fh">
        <div class="rp bqq agk">
            <div class="rv" style="background-image: url(assets/img/iceland.jpg);"></div>
            <div class="rq awx">
                <a href="https://bootstrap-themes.github.io/application/profile/index.html">
                    {% if request.user.my_user.image %}
                        <img class="bqr" src="{{ request.user.my_user.image.url }}">
                    {% endif %}

                </a>

                <h6 class="rr">
                    <a class="bph" href="#">{{ request.user.my_user }}</a>
                </h6>

                <p class="agk">I wish i was a little bit taller, wish i was a baller, wish i had a
                    girl…&nbsp;also.</p>

                <ul class="bqs">
                    <li class="bqt">
                        <a href="https://bootstrap-themes.github.io/application/#userModal" class="bph"
                           data-toggle="modal">
                            Friends
                            <h6 class="afl">12M</h6>
                        </a>
                    </li>

                    <li class="bqt">
                        <a href="https://bootstrap-themes.github.io/application/#userModal" class="bph"
                           data-toggle="modal">
                            Enemies
                            <h6 class="afl">1</h6>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="rp bra brb agk">
            <div class="rq">
                <h6 class="agd">About
                    <small>· <a href="https://bootstrap-themes.github.io/application/#">Edit</a></small>
                </h6>
                <ul class="dc ayn">
                    <li><span class="axr h bbu agc"></span>Went to <a
                            href="https://bootstrap-themes.github.io/application/#">Oh, Canada</a>
                    </li>
                    <li><span class="axr h boj agc"></span>Became friends with <a
                            href="https://bootstrap-themes.github.io/application/#">Obama</a>
                    </li>
                    <li><span class="axr h bgh agc"></span>Worked at <a
                            href="https://bootstrap-themes.github.io/application/#">Github</a>
                    </li>
                    <li><span class="axr h bgx agc"></span>Lives in <a
                            href="https://bootstrap-themes.github.io/application/#">San Francisco, CA</a>
                    </li>
                    <li><span class="axr h big agc"></span>From <a
                            href="https://bootstrap-themes.github.io/application/#">Seattle, WA</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="rp bra brb">
            <div class="rq">
                <h6 class="agd">Photos
                    <small>· <a href="https://bootstrap-themes.github.io/application/#">Edit</a></small>
                </h6>
                <div data-grid="images" data-target-height="150">
                    <div style="margin-bottom: 10px; margin-right: 10px; display: inline-block; vertical-align: bottom;">
                        <img data-width="640" data-height="640" data-action="zoom" src="./instagram_5.jpg"
                             style="width: 114px; height: 115px;">
                    </div>
                    <div style="margin-bottom: 10px; margin-right: 0px; display: inline-block; vertical-align: bottom;">
                        <img data-width="640" data-height="640" data-action="zoom" src="./instagram_6.jpg"
                             style="width: 114px; height: 115px;">
                    </div>
                    <div style="margin-bottom: 10px; margin-right: 10px; display: inline-block; vertical-align: bottom;">
                        <img data-width="640" data-height="640" data-action="zoom" src="./instagram_7.jpg"
                             style="width: 114px; height: 115px;">
                    </div>
                    <div style="margin-bottom: 10px; margin-right: 0px; display: inline-block; vertical-align: bottom;">
                        <img data-width="640" data-height="640" data-action="zoom" src="./instagram_8.jpg"
                             style="width: 114px; height: 115px;">
                    </div>
                    <div style="margin-bottom: 10px; margin-right: 10px; display: inline-block; vertical-align: bottom;">
                        <img data-width="640" data-height="640" data-action="zoom" src="./instagram_9.jpg"
                             style="width: 114px; height: 115px;">
                    </div>
                    <div style="margin-bottom: 10px; margin-right: 0px; display: inline-block; vertical-align: bottom;">
                        <img data-width="640" data-height="640" data-action="zoom" src="./instagram_10.jpg"
                             style="width: 114px; height: 115px;">
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}