{% extends 'base.html' %}
{% block detail %}


    <div class="fk">

        <ul class="ca bqe bqf agk">

            <li class="tu b ahx">
                <img class="bqa wp yy agc" src="./avatar-mdo.png">
                <div class="tv">
                    <div class="bqj">
                        <small class="aec axr">{{ article.created_at }}</small>
                        <h6>{{ article.author }}</h6>
                    </div>
                    <h4>{{ article.title }}</h4>

                    <p>{{ article.description|striptags|truncatechars:150 }}</p>

                    <div class="bqg" data-grid="images"><img
                            style="display: inline-block; width: 466px; height: 451px; margin-bottom: 10px; margin-right: 0px; vertical-align: bottom;"
                            data-width="640" data-height="640" data-action="zoom" src="{{ article.image.url }}"></div>
                    {% for like in likes %}
                        <p>rating post is: {{ like.total_likes }}</p>
                        <p>people like is: {% for user in like.user.all %}
                            {{ user }},
                        {% endfor %}</p>
                    {% endfor %}
                    {% include 'include/like.html' with slug=slug %}
                    <ul class="bqe">
                        {% for comment in comments %}
                            <li class="tu">
                                <small>{{ comment.created_at }}</small>
                                <img class="bqa wp yy agc" src="./avatar-dhg.png">
                                <div class="tv">
                                    <strong>{{ comment.author }}</strong>
                                    {{ comment.title|linebreaks }}
                                </div>
                            </li>
                        {% empty %}
                            <p>Комментариев пока нет :(</p>
                        {% endfor %}
                    </ul>
                </div>
            </li>

            <li class="tu b ahx">
                <div class="input-group">
                    {% if user.is_authenticated %}

                        <form action="" method="post">
                            {% csrf_token %}
                            {% for field in comment_form %}
                                <div class="fieldWrapper">

                                    {{ field.label_tag }}
                                    <br/>
                                    {{ field }}

                                </div>
                            {% endfor %}
                            <input type="submit" class="button" value="Add Comment"/>
                        </form>

                    {% else %}
                        <p style="color: #ff0098">Please
                            <a href="{% url 'signup' %}">Signup</a>
                            or
                            <a href="{% url 'login' %}">Login</a>
                            for send comment</p>
                    {% endif %}
                </div>
            </li>


        </ul>
    </div>

{% endblock %}