{% extends 'base.html' %}
{% load i18n staticfiles %}
{% block profile %}

    {% include 'include/profile_widget.html' %}

    <div class="fk">
        <h1>New post</h1>

        {% if user.is_authenticated %}
            <form method="POST" class="post-form">{% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="save btn btn-default">Save</button>
            </form>
        {% else %}
            <p style="color: #ff0098">Please
                <a href="{% url 'signup' %}">Signup</a>
                or
                <a href="{% url 'login' %}">Login</a>
                for send comment</p>
        {% endif %}
    </div>
{% endblock %}