{% extends 'base.html' %}

{% block profile %}
    <div class="fh">

    </div>

    <div class="fk">
        <div class="container">
            <h2 class="form-signin-heading">Sign up</h2>
            <form class="form-signin" method="post">
                {% csrf_token %}
                {% for field in form %}
                    <p>
                        {{ field.label_tag }}<br>
                        {{ field }}
                        {% if field.help_text %}
                            <small style="color: grey">{{ field.help_text }}</small>
                        {% endif %}
                        {% for error in field.errors %}
                            <p style="color: red">{{ error }}</p>
                        {% endfor %}
                    </p>
                {% endfor %}
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
            </form>
        </div>
    </div>
{% endblock %}
